* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 30px
}

.enunciado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('fotos/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.quadro {
    border: solid #b88162 10px;
    border-style: ridge;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    width: 90vh;
    height: 90vh;
    background-color: #f9decb;

}

.coluna {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.pokemon {
    display: flex;
    flex-direction: column ;
    text-align: center;
    border: solid #b88162 10px;
    border-style: ridge;
    padding: 30px;
    background-color: #a86322;
    transition: ease 0.5s;
    width: 280px;
    height: 280px;

    >img {
        width: 100%;
        height: auto;
    }

    &:hover {
       transform: scale(1.2); 
       border: solid red 10px;
    }  
}

.subEnunciado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.show {
    opacity: 1;
}
