* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#batalha{
    display: none;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('fotos/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    z-index: -1; 
}

.logo {
    display: flex;
    justify-content: center;
    height: 360px;
    cursor: pointer;
}

.logo > img {
    position: absolute;
    width: 700px;
    height: 300px;
    transition: 0.5s ease;
    top: 250px;
} 

.darkrai {

}

.darkrai > img {
    height: 500px;
    
}

.nomejogo {
    display: flex;
    justify-content: center;
}

.nomejogo > img {
    height: 430px;
    width: 1000px;

}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}    

.start > img {
    height: 700px;
    width: 1700px;
    animation: blink 2s infinite;
}

#selecao{
    display: none;
}

body
{
    background-image: url('fotos/background.jpg'); 
}
